<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Test</title>
    <meta name="description" content=""/>
    <meta name="keywords" content="" />
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}" />
</head>
<body>
    <div id="log-container">
        <strong>logs:</strong>
        <div id="log"></div>
    </div>

    <main>
        <h1>Test</h1>
        <article id="form-container">
            <h2>Participer:</h2>
            <form id="broadcast" method="POST" action='#'>
                <textarea id="broadcast_data" name="broadcast_data" rows="5"></textarea>
                <input type="submit" value="Definir le slogan">
            </form>
            <form id="stop" method="POST" action='#'>
                <input type="submit" value="Arrêter">
            </form>
            <form id="disconnect" method="POST" action="#">
                <input type="submit" value="Déconnecter">
            </form>
        </article>
        <h2>Participants:</h2>
        <div id="manif"></div>
    </main>

    <script src="{{ url_for('static', filename='js/libs/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
